<div class="admin-content">
            <div class="admin-content-body">
              
                <!--
  作者：1119696785@qq.com
  时间：2016-06-02
  描述：
<-->   
               
              <style>


              h3{
                text-align: center;
              }
              p{
                text-indent: 35px
              }
              </style>
                <div class="am-g" style="max-width: 900px;padding-top: 50px">
                  
                  <h3>{$info.title}</h3>
                  <p>{$info.content|htmlspecialchars_decode}</p>
                </div>
               






                <!--
  作者：1119696785@qq.com
  时间：2016-06-02
  描述：
-->
               
            </div>
            <!-- content end -->
        </div>