 <!-- content start -->
  <div class="admin-content" onload="$('#btn').trigger("click");">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">xx企业/公司</strong> /
          <small>企业简介什么的</small>
        </div>
      </div>

      <hr/>

      <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>填报问卷<br/>问卷名</a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>历史问卷<br/>308</a></li>        
      </ul>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-sm-centered">
          <h2>王企鹅企鹅请问企鹅</h2>
          <p>请问请问企鹅，我们不是创造者。</p>
          <p>恶趣味请问请问请问恶趣味请问请问请问</p>
          <p>公司口号？</p>
          <hr/>
        </div>

      
      </div>
    </div>

	

	
	
	

	
    <footer class="admin-content-footer">
      <hr>
     
    </footer>

  </div>
  <!-- content end -->